/* TODO: main 디자인: 가로 100%, 중앙정렬(상/하 마진) */
.mainpage {
  width: 100%;
  margin: 2rem auto;
}
.mainh1 {
  padding: 30px;
}
/* TODO: button 디자인 */
.main_Slashbtn {
  display: none;
}
/* TODO: main 사진 디자인 */
.main-area {
  color: var(--black);
}
.main-box {
  width: 100%;
  padding: 5px;
  float: left;
  border: 2rem solid var(--white);
}
.main-box img {
  max-width: 100%;
  height: auto;
  border: 10px;
}
.main-title {
  text-align: center;
}
/* float 인식 */
.claer {
  clear: both;
}

/* TODO: 반응형(태블릿) 디자인 */
@media screen and (min-width: 768px) {
  /* TODO: 가로 여유있으니 조금 줄임 */
  .main {
    width: 90%;
  }
  /* TODO: 추천상품 3개씩 보이기(33%) */
  .mainli {
    width: 33%;
    display: inline-block;
  }
  .main-box img {
    width: 100%;
  }
  .main_Slashbtn {
    max-width: 10%;
    padding: 5px;
    display: inline;
    border: 2rem solid var(--gray);
    background-color: var(--white);
    border-radius: 2rem;
    border-style: ridge;
    float: right;
    margin-right: 10px;
  }
}


/* swiper css@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* TODO Swiper css */
main swiper-container {
  width: 100%;
  height: 100%;
}

main .swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .swiper-pagination- {
  width: 100%;
  height: 3px;
  border-radius: 0;
  background-color: white;
}
main .swiper-button-next.main swiper-button-disabled,
.main swiper-button-prev.main swiper-button-disablde {
  opacity: 0;
}

main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .swiper-button-next,
main .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: white;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  position: absolute;
  z-index: 2;
}
main .swiper-button-next:hover,
main .swiper-button-prev:hover {
  background-color: blue;
}
